# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/composerJson.xml
.idea/copyright/
.idea/encodings.xml
.idea/jsTestFinder.xml
.idea/misc.xml
.idea/modDevExtra.iml
.idea/modDevExtra.time
.idea/modules.xml
.idea/vagrant.xml
.idea/workspace.xml
LICENSE
README.md
!/.gitignore
